<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunwayProject</title> 
    <link rel="stylesheet" href="nav.css" />
    <link rel="stylesheet" href="newStyles.css" />
    <link rel="icon" href="interrogation.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/" class="logo-link">
  <img id="logo" alt="RunwayProject" src="../logo.png">
</a>
<nav>
  <ul>
    <li><a href="/">• Главная</a></li>
    <li><a href="/search">Поиск</a></li>
    <li><a href="/myprojects">Мои проекты</a></li>
  </ul>
</nav>
        <a href="/register" class="moveBtn">Регистрация</a>
        <a href="/auth" class="moveBtn">Войти</a>
    </header>
    <div class='logmain'>
        <main>
            <h1>Вы вышли из аккаунта</h1>
        </main>
    </div>
</body>
</html>
